.row0 {
    overflow: hidden;
    /* margin-top:86px; */
}

.row1 {
    background-color: #010c1a;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

@media only screen and (min-width: 768px) {

    .col1, .col3, .col55 {
        background-color: #04162C;
        height: 150vh;
    }
}


/* .col1, .col3 {
    background-color: #0c284b;
} */

.dsa {
    background-color: #39424870;
    
}


.indeximg {
    width: 90px;
    height: 50px;
}

.hover:hover {
    cursor: pointer;
    color: #0275d8;
    /* border-bottom: 1px white solid; */
}

.famName:hover {
    cursor: pointer;
    /* border-bottom: 1px white solid; */
    color:#0275d8;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(218, 192, 192);
}

.active1{
    text-decoration: none;
    cursor: pointer;
}

.active_sidebar{
    background-color:#010c1a;
    /* border-radius: 50px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    margin-left:4px ;
    cursor: pointer;
    color: white;
    width: 200px;

}

